.classicblue{
  color:#1D4E89;
}
.dohyun{
  font-family: 'Do Hyeon', sans-serif;
}
.sans{
  font-family: 'Black Han Sans', sans-serif;
}

.bluebox{
  background-color:#1D4E89;
}
.blue{
  color:#1D4E89;
}

.coconut{
  background-color:#f5f6e4;
}

.pirate{
  color:#2F3435;
}
.noto-sans{
  font-family: 'Noto Sans KR', sans-serif;
}
.coconut-box{
  background-color: #f5f6e4;
}